@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
    font-size: 56px;
    font-weight: 600;
  }

  .nav-link {
    display: none;
  }

  main {
    flex-direction: column;
  }

  .page-img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top center;
  }

  .user-details {
    margin-top: 1rem;
  }

  .user-details h1 {
    display: none;
  }
}
